	body{
		background-color:#f0f6ff;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		font-family: Centhury Gothic;
		font-size: 10px;
	}
	h1{
		margin: 0 0 10px 0;
	}
	h2{
		font-size: 2em;
	}
	.clickable a:hover {
		text-decoration: underline;
	}
/* Logo */

	#logo {
		text-align: center;
		width: 100%;
	}
	#logo ul{
		padding: 0em 0em 0em 0em;
		margin: 0em 0em 0em 0em;
	}
	#logo li {
		display: inline-block;
		position: center;
		font-size: 5em;
	}
	#logo li::first-letter {
		color:#5eaeff;
	}
	
	
/* Wrappers */

	#header-wrapper{
		width: 100%;
		background-color: white;
		box-shadow : 0 0 10px 2px grey;
	}
	#footer-wrapper{
		width: 100%;
		background-color: white;
		padding: 10px 0px 10px 0px;
		/*position: absolute;
		bottom: 0;*/
		box-shadow :0 0 10px 2px grey;
		
	}
	.basic-wrapper{
		margin: 5% 5% 10% 5%;
	}
	.basic-inner-wrapper{
		margin: 10px 25px 10px 25px;
	}
	.basic-inner-wrapper ul{
	
	}
	.basic-inner-wrapper li{
		font-size : 1.5em;
		/*float left;

		display:inline-block;
		padding: 0px 10px 0px ;*/
	}
	.work-wrapper{
		background-color: white;
		margin: 10% 0 0 0;
		box-shadow :0 0 10px 2px grey;
		padding: 5px 20px 15px 20px;
	}
	.work-wrapper li{
		float left;
		display:inline-block;
	}
	.work-wrapper ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	.work-wrapper li a {
		font-size: 2.5em;
		color: black;
		text-align: center;
		padding: 0px 25px 0 0;
		text-decoration: none;
	}
	.work-wrapper .image{
		margin: 0px 0px 0px 50px;
	}
	#footer-wrapper{

	}
	#footer-wrapper p{
		margin: 0px;
		text-align : center;
	}
	#footer-wrapper ul{
		text-align: center;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	#footer-wrapper li{
		float left;
		display:inline-block;
		padding: 10px;
	}
	#footer-wrapper img{
		width: 50px;
		height: 50px;
	}
	
/* Tables */

	table{
		padding: 0px 0px 0px 0px;
		width: 100%;
	}
	td{
		padding: 20px 0px 0px 0px;
		text-align: top;
	}
/* Content */

	#line{
		border-bottom: solid 2px #5eaeff;
	}
	.basic-inner-wrapper p{
		text-align: left;
		font-size: 1.5em;
	}
	.image{
		border-radius: 50%;
		margin: 0px 0px 0px 50px;
		float: right;
		width: 200px;
		height: 200px;

	}


/* Menu */
	
	#menu
	{	
		text-align: center;
		width: 100%;
		margin: 0em 0em 0em 0em;
		font-weight: 100;
	}
	
	#menu ul
	{
		padding: 0em 0em 0em 0em;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;

		padding: 1em 1.5em;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: black;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		background: #7ab7cc;
	}
	
	#menu .current_page_item a
	{
		background: #7ab7cc;
		color: #FFF;
	}
	
/* Gamecontainer */
	#gameContainer{
		width: 100%;
		height: 100%;
	}
	
	
	
	 
	